git+https://github.com/Rapptz/discord.py.git
git+https://github.com/Rishiraj0100/discoutils.git
dpy-appcommands
git+https://github.com/RistPy/PyRist
git+https://github.com/Rishiraj0100/shell-reader
pytz
PyNaCl
